<!-- modal containing cv -->
<div class="modal fade my-modal-cv" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLable">CV</h4>
      </div>
      <div class="modal-body">
        <embed id="cv" src="/static_pages/index">
      </div>
    </div>
  </div>
</div><!-- end modal -->

<div class="container">
  <div class="row is-flex img-row">
    <div class="col-sm-6 col-xs-12">
      <%= image_tag("laptop-small-go.jpg", class: "img-responsive me" ) %>
    </div>
    <div class="col-md-6 atributes tablet-mob-hidden">
      <!--<div class="">-->
        <div class="atribut">
          <h4>husband</h4>
        </div>
        <div class="atribut">
          <h4>web developer</h4>
        </div>
        <div class="atribut">
          <h4>teacher</h4>
        </div>
        <div class="atribut">
          <h4>hiker</h4>
        </div>
        <div class="atribut">
          <h4>dance instructor</h4>
        </div>
        <div class="atribut">
          <h4>reader</h4>
        </div>
        <div class="atribut">
          <h4>dreamer</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 social-buttons">
      <a class="btn social-icon" data-placement="bottom" target="_blank" href="https://linkedin.com/in/branislav-bugarcic-3146621b"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a class="btn social-icon" data-placement="bottom" target="_blank" href="https://github.com/BBugarcic"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="story-wrapper">
        <h3>Hi, visitor!</h3>
          <p>Thank you for your interest.
            <br>My name is Branislav Bugarcic and I am a Web Developer with formal training in Education and Philology. Before becoming a Web Developer I graduated with a degree in Serbian Language and Literature at Belgrade University. After few years working in publishing and education in Belgrade I have chosen to step forward and create an opportunity to learn, grow and expand my life experiences in a completely new direction. For years I was intrigued by the world of computers and web.
            <br>I decided to start a new career. From the very beginning I saw Web Development as the perfect field in which one can combine different knowledge and experience and constantly be challenged to evolve and learn new things.
          </p>
      </div>
    </div>
</div>
