<!-- modal containing cv -->
<div class="modal fade my-modal-cv" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myLargeModalLabel" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLable">CV</h4>
      </div>
      <div class="modal-body">
        <embed id="cv" src="https://www.visualcv.com/branislav-bugarcic?access=I9L3ziki1bF">
      </div>
    </div>
  </div>
</div><!-- end modal -->

<div class="container">
  <div class="row is-flex">
    <div class="col-sm-6 col-xs-12">
      <%= image_tag("laptop-small-go.jpg", class: "img-responsive me" ) %>
    </div>
    <div class="col-md-6 atributes tablet-mob-hidden">
      <!--<div class="">-->
        <div class="atribut">
          <h4>husband</h4>
        </div>
        <div class="atribut">
          <h4>web developer</h4>
        </div>
        <div class="atribut">
          <h4>teacher</h4>
        </div>
        <div class="atribut">
          <h4>hiker</h4>
        </div>
        <div class="atribut">
          <h4>dance instructor</h4>
        </div>
        <div class="atribut">
          <h4>reader</h4>
        </div>
        <div class="atribut">
          <h4>dreamer</h4>
        </div>
        <div class="atribut">
          <h4>not so good swimmer</h4>
        </div>
      <!--</div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="story-wrapper">
        <h3>Hi, visitor!</h3>
          <p>Thank you for your interest.
            <br>My name is Branislav Bugarcic and I am a junior web developer. Before becoming a web developer I graduated with a degree in Serbian Language and Literature at Belgrade University in Serbia. After a few years working in publishing and education in Belgrade I have chosen to step forward and create an opportunity to learn, grow and expand my life experiences in a completely new direction. For years I was intrigued by the world of computers and web.
            <br>I decided to start a new career in IT and become a web developer. From the very beginning I saw web development as the perfect field in which one can combine different knowledge and experience and constantly be challenged to evolve and learn new things.
          </p>
      </div>
    </div>
</div>
